table>tr{
  white-space: nowrap;
}
table {
  /*min-width: 1000px;*/
  border-collapse: collapse;
  /*width: 100%;*/
}

th, td {
  text-align: left;
  padding: 8px;
    /*min-width: 1000px;*/

}
.detail>tr>td{
  min-width: 1000px;

}

th {
  background-color: #1b91ff;
  color: white;
}

tr:nth-child(even) {
  /*min-width: 850px;*/
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #f2f2f283;
}

.detail-page{
  display: flex;
}

.uncollected{
  filter: grayscale(100);
  transition: ease-in .1s;
  scale: 1;
}

.collected{
  transition: ease-in .1s;
  scale: 1.4;
}
