.result-panel {
    /* position: relative; */
    width: calc(100vw - 120px);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.search-by-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.type-switch > li > a > img {
    width: 50%;
    height: 50%;
}
.rv-pagination {
    position: absolute;
    bottom: 200px;
}
