.result-panel {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    justify-content: space-around;
}
.search-by-type {
    display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    align-items: flex-start;
}
.type-switch > li > a > img {
    width: 50%;
    height: 50%;
}
