.result-panel {
    display: flex;
    width: 1001px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.search-by-type {
    display: flex;
    width: 708px;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    align-items: flex-start;
}
.type-switch > li > a > img {
    width: 50%;
    height: 50%;
}
