.panelbox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

        @font-face{
            font-family: Rajdhani;
            src: url("./static//font/hkxzy.ttf");
        }
        *{
            font-family: 'Rajdhani';
        }
* {
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
}
.header {
    width: 200px;
    height: 100vh;
    background-color: #065a8b63;
    display: flex;
    flex-direction: column;
}
tr > td > img {
    width: 100%;
    height: 100%;
}
tr > td {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    /*width: 100px;*/
    /*line-height: 70px;*/
    text-align: center;
    font-size: 16px;
}

html {
    /* background: linear-gradient(to top, rgba(200, 230, 255, 0.384), rgba(63, 104, 124, 0.411)); */
    background-color: rgba(57, 160, 245, 0.384);
    background-repeat: no-repeat;
}

.rv-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.author{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 23px;
}