.info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info > p {
    font-size: 16px;
    border-bottom: rgb(0, 218, 250) solid 1px;
}

.panel {
    background: linear-gradient(to top, rgb(0, 83, 152), rgb(52, 187, 252));
    width: 228px;
    height: 95px;
    display: flex;
    margin: 5px;
    padding-top: 5px;
    justify-content: space-around;
    border-radius: 10% 10% 10% 10%;
    position: relative;
    cursor: pointer;
}

.panel:hover::before {
    content: "";
    position: absolute;
    background-color: #01284d;
    width: 225px;
    height: 100px;
    z-index: -100000;
    filter: blur(20px);
    /* box-shadow:0px 0px 12px#32383a; */
}
.shuxinglogo {
    scale: 0.75;
}

.desc {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    /* left: 220px; */
    top: 95px;
    width: 200px;
    height: 0;
    /* opacity: 0; */
    background-color: #1a16168f;
    color: #fff;
    /* border: #00bdee solid 0px; */
    /* border-radius: 0 0 25% 0; */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
.desc > p {
    margin-left: 6px;
}

.panel:hover > .desc {
    border: #666a6bd5 solid 2px;
    height: auto;
    /* opacity: 1; */
    z-index: 100000000;
}

.diy-tag::after {
    content: "DIY";
    position: absolute;
    bottom: -79px;
    right: 12px;
    color: #000;
}
.diy-tag {
    background: linear-gradient(to bottom, #4d4d4d, #1a1a1a);
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 3px 0 #1a1a1a, 0 4px 0 #4d4d4d; */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 8px;
    text-shadow: 0 -1px 0 #1a1a1a;
    transition: all 0.1s ease-in-out;
}

.diy-tag:hover {
    text-shadow: 0 -1px 0 #1a1a1a;
}

.diy-tag:hover::before {
    content: "DIY";
    position: absolute;
    bottom: -79px;
    right: 12px;
    color: #000;
    z-index: -10000;
}
